/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://use.typekit.net/zrl0ajt.css");

/* basic styling */
p {
	font-family: "acumin-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
body {
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	color: #f6d4ac;
	width: 100%;
}
header {
	z-index: 1000;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* navigation */
.navigation {
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 65%;
	margin-top: 0px;
	/* margin-left: 33.65%; */
}
.navigation a {
	text-decoration: none;
	color: #390022;
}
.navigation li {
	float: right;
	margin-right: 50px;
	list-style-type: none;
}
#searchBar {
	border-radius: 17px;
	border-width: 1px;
	padding: 7px;
}
#selected {
	border-bottom: #ce0236 solid 2px;
}

/* page title */
#titleBackground {
	position: relative;
	background-color: #390022;
	transform: rotate(-45deg) translateX(-25%) translateY(-40vh);
	transform-origin: center;
	width: 45%;
	height: 40vh;
	z-index: 0;
}
#titleName {
	z-index: 1;
	position: absolute;
	margin-top: -40vh;
	margin-left: 2.5%;
}
#titleName h2 {
	color: #efcca6;
	font-size: 6vh;
}

.container {
	width: 100%;
	margin: 0px auto;
	columns: 4;
	column-gap: 30px;
}
.box {
	width: 235px;
	padding: 30px;
	background-color: #380022;
	margin-bottom: 10px;
	break-inside: avoid;
	border-radius: 10px;
}
.box img {
	width: 100%;
	height: 170px;
	object-fit: contain;
}
#button {
	color: #f6d4ac;
	background-color: #ce0236;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 10px;
}
.wrapper {
	width: 80%;
	margin: 0px auto;
}
.wrapper h3 {
	font-size: 18px;
	width: 100%;
	margin-bottom: 1px;
	margin-top: 0;
}
.wrapper p {
	font-size: 15px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
}
.wrapper-header {
	width: 95%;
	margin: 0 auto;
	margin-top: 22.68px;
}
.logo img {
	width: 200px;
}
.filter {
	width: 100%;
	display: flex;
	justify-content: right;
	margin-bottom: 2%;
	margin-top: -250px;
}

/*footer*/
footer {
	color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #ce1644;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    text-align: center;
    width: 33.33%;
}
.socials img{
    width: 25px;
}
.socials{
    margin-right: 2.5%;
    width: 33.33%;
    text-align: right;
}
.contact{
    margin-left: 2.5%;
    width: 33.33%;
}

/* media queries */
@media only screen and (max-width: 992px) {
    /*footer*/
    footer p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 850px) {
    /*footer*/
    footer p{
        font-size: 12px;
    }
    .contact p{
        width: 70%;
    }
    .footer-logo img{
        width: 100px;
    }
    .socials img {
        width: 20px;
    }
}
@media only screen and (max-width: 600px) {
    /*footer*/
    footer p{
        font-size: 10px;
    }
    footer{
        padding: 5px 0 ;
    }
    .contact p{
        width: 70%;
    }
    .footer-logo img{
        width: 100px;
    }
    .socials img {
        width: 15px;
    }
}
@media only screen and (max-width: 454px) {
    /*footer*/
    footer p{
        font-size: 8px;
    }
    footer{
        padding: 5px 0 ;
    }
    .footer-logo img{
        width: 50px;
    }
    .socials img {
        width: 10px;
    }

}
@media only screen and (min-width: 1700px) {
    /* footer */
    footer{
        margin: 0 auto;
        width: 1700px;
    }
    .outer-footer{
        width: 100%;
        background-color: #ce1644;
    }
    .contact{
        margin: 0;
    }
}