body{
    background-color: white;
    color: #390022;
}
#titleBackground {
    position: relative;
    background-color: #390022;
    transform: rotate(-45deg) translateX(-25%) translateY(-40vh);
    transform-origin: center;
    width: 50%;
    height: 50vh;
    z-index: 0;
}
#titleName img{
    width: 130%;
}
#titleName{
    z-index: 1;
    position: absolute;
    margin-top: -390px;
    margin-left: 2%;
}

/*navigation*/
header {
	z-index: 1000;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: -20% 0 0 0;
}
.logo img{
    width: 90%;
    margin-left: -20%;
}
.navigation {
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 65%;
	margin-top: 0px;
}
.navigation a {
	text-decoration: none;
	color: #390022;
}
.navigation li {
	float: right;

	margin-right: 50px;
	list-style-type: none;
}

.searchBar {
	display: flex;
	justify-content: right;
	margin-top: -36px;
}
#searchBar {
	border-radius: 17px;
	border-width: 1px;
	padding: 7px;
}
#titleBackground {
	position: relative;
	background-color: #390022;
	transform: rotate(-45deg) translateX(-25%) translateY(-40vh);
	transform-origin: center;
	width: 45%;
	height: 40vh;
	z-index: 0;
}
/*content*/
h1{
    font-size: 100px;
}
.allInfoText h2{
    margin-top: -10%;
    font-size: 56px;
}
.basicInfoText h4{
    margin-top: -7%;
    font-size: 20px;
}
.allInfoText h3{
    margin-top: 10%;
    font-size: 40px;
}
.allInfoText p{
    margin-top: -2%;
}
.basicInfoText{
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.allInfoText{
    z-index: 2;
    position: absolute;
    width: 35%;
    margin-top: 0px;
    margin-left: 22%;
    padding-left: 3%;
    border-left: 2px solid #390022;
    height: 100%;
}
.image{
    width: 80%;
    margin-top: -55%;
    margin-left: 120%;
}
.image img {
    width: 100%;
}
.allListItems{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.relatedItems{
    margin-top: 65%; 
}
.relatedItems h2{
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 20px;
}
.listItem1, .listItem2, .listItem3, .listItem4{
    background-color: #390022;
    color:#EFCCA6;
    width: 15%;
    margin-left: 5%;
    padding: 0.5%;
    height: min-content;
}
.listItem1 img, .listItem2 img, .listItem3 img, .listItem4 img{
    width: 90%;
    padding: 5%;
    padding-bottom: 0%;
}
.itemText{
    padding-left: 5%;
}
.itemText a{
    text-decoration: none;
    color: #EFCCA6;
}
.itemText h4{
    margin-bottom: -5%;
}
.button{
    color: white;
    background-color: #ce0236;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
}
.buttonBack{
    margin-left: 7%;
    margin-top: -50%;
}
/*footer*/
footer {
    margin-top: 750px;
	color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #ce1644;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    text-align: center;
    width: 33.33%;
}
.socials img{
    width: 25px;
}
.socials{
    margin-right: 2.5%;
    width: 33.33%;
    text-align: right;
}
.contact{
    margin-left: 2.5%;
    width: 33.33%;
}

/* media queries */
@media only screen and (max-width: 992px) {
    /*footer*/
    footer p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 850px) {
    /*footer*/
    footer p{
        font-size: 12px;
    }
    .contact p{
        width: 70%;
    }
    .footer-logo img{
        width: 100px;
    }
    .socials img {
        width: 20px;
    }
}
@media only screen and (max-width: 600px) {
    /*footer*/
    footer p{
        font-size: 10px;
    }
    footer{
        padding: 5px 0 ;
    }
    .contact p{
        width: 70%;
    }
    .footer-logo img{
        width: 100px;
    }
    .socials img {
        width: 15px;
    }
}
@media only screen and (max-width: 454px) {
    /*footer*/
    footer p{
        font-size: 8px;
    }
    footer{
        padding: 5px 0 ;
    }
    .footer-logo img{
        width: 50px;
    }
    .socials img {
        width: 10px;
    }

}
@media only screen and (min-width: 1700px) {
    /* footer */
    footer{
        margin: 0 auto;
        width: 1700px;
    }
    .outer-footer{
        width: 100%;
        background-color: #ce1644;
    }
    .contact{
        margin: 0;
    }
}



#searchResults {
    border-radius: 10px;
    background-color: #380022;
    color: white;
    width: 33.33%;
    max-height: 66.66%;
    min-height: 33.33%;
    position: fixed;
    top: 10%;
    left: 64.41%;
    z-index: 999;
    display: none;
    overflow-y: scroll;
}
#searchResults::-webkit-scrollbar {

	background-color: #380022;
    width: 20px;
}

#searchResults::-webkit-scrollbar-track {
	background: #f8e4cc;
	border: 2px solid #390022;
}

#searchResults::-webkit-scrollbar-thumb {
	background: #390022;
}
.search-result-item{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.search-result-item p{
width: 100%;
margin-left: 2.5%;
margin-top: 1.5%;
margin-bottom: 0%;
}
.search-result-item h4{
    width: 100%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 0%;
}
.search-result-item #desktop-button{
    margin-left: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    padding: 10px;
}
.search-result-item img{
width: 60%;
margin: 0 auto;
margin-top: 2.5%;
}
#button {
    color: white;
    background-color: #ce0236;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
	margin-left: 2.5%;
	margin-top: 1.5%;
	margin-bottom: 2.5%;
}
#button a {
    margin-bottom: 200px;
}