body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#canonInfo{
    background-color: aquamarine;

    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: aqua;
    width: 400px;
    /* height: 260px; */
    margin: 20px;
}
img{
 /* margin: 20px; */
}